/* custom styles */

.input-range .input-range__track {
  height: 0.5rem;
}

.input-range__slider-container span.input-range__label-container {
  display: none;
}

.spinner-border {
  margin-top: 5rem;
}
.input-range {
  margin-bottom: 2rem;
}
.alert-primary {
  width: 100%;
}
